<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroViz</title>
</head>

<div style="text-align: center;">
<body>
    <h1 style="font-size: 24px; font-weight: bold;">欢迎来到纽交所上市公司NeuroViz主页</h1>
    <p style="font-size: 18px; font-weight: bold;">商务合作请联系:happy649964201 股权投资请联系微信：robbin0817@gamll.com</p>
    <img src="{{ url_for('static', filename='images/welcome.jpg') }}" alt="Welcome Image">
</body>
</div>

</html>